<form [formGroup]="newWord" (keydown)="submitByEnter($event)" >
  <div>
    <input #foreignWord type="text" placeholder="foreign word" formControlName="foreignControl">
    <input type="text"  placeholder="translation" formControlName="translatedControl">
  </div>
</form>

<div *ngFor="let word of wordList">
  <input #fw  type="text" disabled [value]="word.foreignWord" >
  <input #tw  type="text" disabled [value]="word.translatedWord">
  <input #editBtn  type="button" value="Edit" (click)="editWord(fw, tw, editBtn)">
  <input #editBtn  type="button" value="Save" (click)="editWord(fw, tw, editBtn)">
  <input #discardBtn type="button" value="Discard" (click)="">
</div>
