<form [formGroup]="newWord" (submit)="submitWord()" formGroupName="newWord">
  <div>
    <input [formControl]="foreignControl" type="text"  placeholder="foreign word" formControlName="foreignControl">
    <input [formControl]="translatedControl" type="text"  placeholder="translation" formControlName="translatedControl">
    <input type="submit" value="ok" >
  </div>
</form>

<div *ngFor="let word of wordList">
  <input type="text"  [value]="word.foreign_word">
  <input type="text"  [value]="word.translated_word">
</div>


