<div>
  <p>Sort by</p>
    <button (click)="sortByDate()">Date</button>
    <button (click)="sortByForeign()">Foreign</button>
    <button (click)="sortByTranslated()">Translated</button>
    <button (click)="sortByTagName()">Tag</button>
  <br/>
  <input *ngIf="isCollapsed" placeholder="Tag name">
    <br><br/>
</div>



<form [formGroup]="newWord" (keydown)="submitByEnter($event)" >
  <div>
    <input #foreignWord type="text" placeholder="foreign word" formControlName="foreignControl">
    <input type="text"  placeholder="translation" formControlName="translatedControl">
  </div>
</form>

<div *ngFor="let word of wordList">
  <input #foreignField  type="text" disabled [value]="word.foreignWord" >
  <input #translatedField  type="text" disabled [value]="word.translatedWord">
  <input #editBtn type="button" value="Edit"
         (click)="enableEditing(foreignField, translatedField, editBtn, saveBtn, discardBtn)">
  <input #saveBtn type="button" value="Save" style="display: none;"
         (click)="saveChanges(word, foreignField, translatedField, editBtn, saveBtn, discardBtn)">
  <input #discardBtn type="button" value="Discard" style="display: none;"
         (click)="discardChanges(word, foreignField, translatedField, editBtn, saveBtn, discardBtn)">
</div>
