<div>
  <div class="word-form">
    <input #tags type="text" class="word-input-field" disabled [value]="tagNames">
    <input #foreignWord class="word-input-field" type="text" disabled [value]="word.foreignWord">
    <input #translatedWord class="word-input-field" type="text" disabled [value]="word.translatedWord">

    <div class="dropdown">
      <button id="menu-dropdown-button" class="bttn-unite bttn-md bttn-primary" (click)="openDropdownMenu(menuDropdown)">⋮</button>
      <div #menuDropdown class="dropdown-content">
        <button (click)="enableEditing(tags, foreignWord, translatedWord, submitBlock)">Edit</button>
        <button (click)="deleteWord()">Delete</button>
        <div class="dropdown">
          <button id="add-tag-dropdown-button" (click)="enableAddTag(tagsDropdown)">Add tag</button>
          <div #tagsDropdown class="dropdown-content">
            <app-tag *ngFor="let tag of getTags()" [wordFieldRef]="this" [tag]="tag" [word]="word"></app-tag>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-block-outer">
    <div #submitBlock class="submit-block-inner">
      <button class="bttn-unite bttn-md bttn-primary"
              (click)="submitEdits(tags, foreignWord, translatedWord, submitBlock)">Submit
      </button>
      <button class="bttn-unite bttn-md bttn-primary"
              (click)="cancelEdits(tags, foreignWord, translatedWord, submitBlock)">Cancel
      </button>
    </div>
  </div>
</div>
