<div>
  <div class="word-form">
    <input #foreignWord class="word-input-field" type="text" disabled [value]="word.foreignWord">
    <input #translatedWord class="word-input-field" type="text" disabled [value]="word.translatedWord">

    <div class="dropdown">
      <button class="bttn-unite bttn-md bttn-primary" (click)="openDropdownMenu(dropdown)">#</button>
      <div #dropdown class="dropdown-content">
        <button (click)="enableEditing(foreignWord, translatedWord, submitBlock)">Edit</button>
        <button (click)="deleteWord()">Delete</button>
        <button (click)="log()">Add tag</button>
      </div>
    </div>
  </div>

  <div #submitBlock class="submit-block">
    <button class="bttn-unite bttn-md bttn-primary" (click)="submitEdits(foreignWord, translatedWord, submitBlock)">Submit</button>
    <button class="bttn-unite bttn-md bttn-primary" (click)="cancelEdits(foreignWord, translatedWord, submitBlock)">Cancel</button>
  </div>
</div>
