<form [formGroup]="form">
  <fieldset>
    <legend>Join us!</legend>
    <div class="form-field">
      <label>Username</label>
      <br/>
      <input name="username" formControlName="username">
    </div>
    <div class="form-field">
      <label>Password</label>
      <br/>
      <input name="password" formControlName="password" type="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="bttn-unite bttn-md bttn-primary" (click)="register()">Sign up</button>
    <a>DAlready have an account? </a>
    <a routerLink="/login">Log in</a>
  </div>
</form>
